/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/.pnpm/next@15.0.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/ui/home.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_shape__hPvH_ {
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('/public/fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Caviar Dreams';
    src: url('/public/fonts/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Caviar Dreams';
    src: url('/public/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Caviar Dreams';
    src: url('/public/fonts/CaviarDreams_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
